PITCHPULSE_POSTGRES_DB=pitchpulse
PITCHPULSE_POSTGRES_USER=pitchpulse
PITCHPULSE_POSTGRES_PASSWORD=1234567
PITCHPULSE_POSTGRES_PORT=5433
PITCHPULSE_PGADMIN_EMAIL=admin@pitchpulse.com
PITCHPULSE_PGADMIN_PASSWORD=admin123
PITCHPULSE_PGADMIN_PORT=5050
DATABASE_URL=postgresql://pitchpulse:1234567@localhost:5433/pitchpulse
