MATCHMIND_POSTGRES_DB=matchmind
MATCHMIND_POSTGRES_USER=matchmind
MATCHMIND_POSTGRES_PASSWORD=1234567
MATCHMIND_POSTGRES_PORT=5433
MATCHMIND_PGADMIN_EMAIL=admin@matchmind.com
MATCHMIND_PGADMIN_PASSWORD=admin123
MATCHMIND_PGADMIN_PORT=5050
DATABASE_URL=postgresql://matchmind:1234567@localhost:5433/matchmind
